In [56]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd
import time

In [57]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [58]:
# Nasa Mars News:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [59]:
html = browser.html
soup = bs(html, "html.parser")

In [60]:
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

After a Reset, Curiosity Is Operating Normally
NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer.

In [61]:
#JPL Mars Space Images - Featured Image
executable_path = {'executable_path': 'chromedriver.exe'}
browser =  Browser('chrome', **executable_path, headless=False)
jpl_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_image)

In [62]:
html= browser.html
soup = bs(html, "html.parser")
#browser.click_link_by_partial_text('FULL IMAGE')

In [63]:
featured_image = soup.find("div", class_="carousel_items").find("article")["style"]

In [64]:
featured_image_url = featured_image.split("'")[1]
featured_image_url = "https://www.jpl.nasa.gov" + featured_image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17440-1920x1200.jpg

In [65]:
#Mars Weather
executable_path = {'executable_path': 'chromedriver.exe'}
browser =  Browser('chrome', **executable_path, headless=False)
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)

In [66]:
html = browser.html
soup = bs(html, "html.parser")
#print(soup.prettify())

In [67]:
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 88 (2019-02-25) low -95.2ºC (-139.4ºF) high -17.8ºC (0.0ºF)
winds from the SW at 5.2 m/s (11.6 mph) gusting to 19.8 m/s (44.3 mph)
pressure at 7.20 hPapic.twitter.com/1msjBvhiu7

In [68]:
#Mars facts

mars_facts_url = 'https://space-facts.com/mars/'
mars_facts = pd.read_html(mars_facts_url)
mars_facts_df = mars_facts[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [69]:
mars_facts_df.columns = ["Description", "Fact"]
mars_facts_df.set_index("Description")

                                               Fact
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [70]:
mars_table = mars_facts_df.to_html()
mars_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Fact</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [71]:
mars_facts_df.to_html('mars_table.html')

In [84]:
#Mars Hemispheres
executable_path = {'executable_path': 'chromedriver.exe'}
browser =  Browser('chrome', **executable_path, headless=False)
mars_hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hemispheres_url)

In [85]:
html = browser.html
soup = bs(html, "lxml")

In [86]:
hemi_image = soup.find_all('div', class_='item')
hemisphere_image_urls = []

image_base = "https://astrogeology.usgs.gov"

for image in hemi_image:
    
    #Retrieve title and link to specific hemisphere page
    title = image.find('h3').text
    
    image_base2 = image.find('a', class_='itemLink product-item')['href']

    #Visit above link
    browser.visit(image_base + image_base2)

    #visit link to full image
    image_html = browser.html
    hemi_soup = bs(image_html, 'html.parser')
    img_url = image_base + hemi_soup.find('img', class_='wide-image')['src']

    #Add images dictionary to list
    hemisphere_image_urls.append({'title': title, "img_url": img_url})
        
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]